In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a   -0.652720
b   -0.981465
c   -0.890390
d    0.513080
e    0.451833
dtype: float64

In [3]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
pd.Series(np.random.randn(5))

0    0.124170
1   -1.239723
2    0.335287
3    1.208299
4   -0.188038
dtype: float64

In [5]:
s["a"]

-0.6527196728878512

In [6]:
s["e"] = 12.0

In [7]:
s

a    -0.652720
b    -0.981465
c    -0.890390
d     0.513080
e    12.000000
dtype: float64

In [8]:
"e" in s

True

In [9]:
"f" in s

False

In [11]:
s.get("f")

In [12]:
s.get("f", np.nan)

nan

In [13]:
s + s

a    -1.305439
b    -1.962931
c    -1.780780
d     1.026160
e    24.000000
dtype: float64

In [14]:
s * 2

a    -1.305439
b    -1.962931
c    -1.780780
d     1.026160
e    24.000000
dtype: float64

In [15]:
np.exp(s)

a         0.520628
b         0.374761
c         0.410496
d         1.670428
e    162754.791419
dtype: float64

In [17]:
s[1:] + s[:-1]

a         NaN
b   -1.962931
c   -1.780780
d    1.026160
e         NaN
dtype: float64

In [18]:
s = pd.Series(np.random.randn(5), name="something")
s

0   -0.631691
1   -0.312125
2    0.309357
3   -1.110588
4   -0.545229
Name: something, dtype: float64

In [19]:
s.name

'something'

In [20]:
s2 = s.rename("different")
s2.name

'different'

In [21]:
s2

0   -0.631691
1   -0.312125
2    0.309357
3   -1.110588
4   -0.545229
Name: different, dtype: float64

In [22]:
d = {
    "one":pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]), 
    "two":pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])
}

df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [23]:
pd.DataFrame(d, index=["d", "b", "a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [24]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [25]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [26]:
df.columns

Index(['one', 'two'], dtype='object')

In [27]:
d = {"one":[1.0, 2.0, 3.0, 4.0], "two":[4.0, 3.0, 2.0, 1.0]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [28]:
pd.DataFrame(d, index=["a", "b", "c", "d"])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [29]:
data = np.zeros((2, ), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [32]:
data[:] = [(1, 2.0, "hello"), (2, 3.0, "world")]

In [35]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'hello'
1  2  3.0  b'world'

In [36]:
pd.DataFrame(data, index=["first", "second"])

        A    B         C
first   1  2.0  b'hello'
second  2  3.0  b'world'

In [37]:
pd.DataFrame(data, columns=["C", "A", "B"])

          C  A    B
0  b'hello'  1  2.0
1  b'world'  2  3.0

In [38]:
data2 = [{"a":1, "b":2}, {"a":5, "b":10, "c":20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [39]:
pd.DataFrame(data2, index=["first", "second"])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [40]:
pd.DataFrame(data2, columns=["a", "b"])

   a   b
0  1   2
1  5  10

In [41]:
pd.DataFrame(
    {
        ("a", "b"):{("A", "B"):1, ("A", "C"):2}, 
        ("a", "a"):{("A", "C"):3, ("A", "B"):4}, 
        ("a", "c"):{("A", "B"):5, ("A", "C"):6}, 
        ("b", "a"):{("A", "C"):7, ("A", "B"):8}, 
        ("b", "b"):{("A", "D"):9, ("A", "B"):10}
    })

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0