1. 连接数据库
2. 读取sql文件夹
3. 运行sql
4. 存储结果
5. 连接邮箱
6. 发送邮件

In [1]:
import os
import pandas as pd
import numpy as np
import pymysql

In [113]:
class AutoEmail:
    def __init__(self, path, host, user, password, database, port):
        self.path = path
        self.host = host
        self.user = user
        self.password = password
        self.database = database
        self.port=port
        
    def get_cursor(self):
        connection = pymysql.connect(host=self.host, 
                                     user=self.user, 
                                     password=self.password,
                                     database=self.database, 
                                     port=self.port
                                    )
        
        cursor = connection.cursor()
        
        return connection
    
    
    def get_path(self):
        pwd_path = os.getcwd()
        pwd_path = os.path.join(pwd_path, "sqls")
        
        sqls_path = []
        for root, dirs, files in os.walk(pwd_path):
                files = files

        for files in files:
            sql_path = os.path.join(pwd_path, files)
            sqls_path.append(sql_path)
            
#         print(sqls_path)
        return sqls_path                
        
    def get_data(self):
        sqls_path = self.get_path()
        connection = self.get_cursor()
        for sql in sqls_path:
            with open(sql, "r", encoding='UTF-8')as f:
                res = f.read()
#                 print(res)
                    
        data = pd.read_sql(res, connection)
        return data
    
    def data_pivot(self):
        data = self.get_data()
        data_pivot = data.pivot_table(data, index=['f_serveridofevent', 'country', 'first_date'], 
                              columns=['retention_day'],aggfunc={'uid':len})
        data_pivot = data_pivot.droplevel(axis=1, level=0).reset_index()
        
        data_pivot = data_pivot.iloc[:,[0, 1, 2, 3, 4, 5, 6, 7, 8, 9,16]]
        
        for index in [1, 2, 3, 4, 5, 6,13]:
#           fill 0
            data_pivot["retention_date{}".format(index)] = data_pivot['first_date']+pd.Timedelta(days=index)
            data_pivot["data{}".format(index)] = [0 if i < pd.Timestamp('2022-05-15') else np.nan for i in data_pivot["retention_date{}".format(index)]]
            data_pivot[index].fillna(value=data_pivot["data{}".format(index)], inplace=True)
#           get day 0s users
            data_pivot["0_{}".format(index)]=[0 if pd.isna(i) else np.nan for i in data_pivot[index]]
            data_pivot["0_{}".format(index)].fillna(data_pivot[0], inplace=True)
        
#       groupby 
        data_groupby = data_pivot.groupby(by=['f_serveridofevent', 'country']).sum()
        data_groupby.reset_index(inplace=True)

#           rentention_rate            
        for index in [1, 2, 3, 4, 5, 6,13]:
            data_groupby["day{}".format(index)] = data_groupby[index]/data_groupby["0_{}".format(index)]
        
        data1 = data_groupby.loc[:,['f_serveridofevent', 'country', 0, 'day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day13']]
        data1.rename(columns={0:'day0'}, inplace=True)
        data1['user_percent'] = data1['day0']/data1.groupby(by=['f_serveridofevent'])['day0'].transform('sum')
        
        data2 = data
        data2['pay_user'] = data2['price'].apply(lambda x: 1 if x>0 else 0)
        data2 = data2.groupby(by=['f_serveridofevent', 'country'])['price', 'pay_user'].sum().reset_index()
        
        data_merge = data2.merge(data1, on=['f_serveridofevent', 'country'], how='left')
        
        data_merge['pay_rate'] = data_merge['pay_user']/data_merge['day0']
        data_merge['arppu'] = data_merge['price']/data_merge['pay_user']
        data_merge['arpu'] = data_merge['pay_rate']*data_merge['arppu']
        
        return data_merge
    
    def decorate_data(self):

In [114]:
AutoEmail=AutoEmail(path='E:\Github\study_pandas', host='47.243.228.210', 
                    user='dingyanlin', password='dingdingding123', database='fact_20000073_11', port=9030)

In [15]:
AutoEmail.get_path()

['E:\\Github\\study_pandas\\sqls\\1.sql']

In [58]:
data = AutoEmail.get_data()

In [59]:
data

,date,first_date,retention_day,l_baselevel,country,network,f_serveridofevent,uid,price,total_price,ac_price_tag
0,2022-04-21,2022-04-21,0,1,us,TikTok Ads,3,100033873000003,0.0,0.00,未付费
1,2022-04-21,2022-04-21,0,0,ph,Unattributed,3,100062273000003,0.0,0.00,未付费
2,2022-04-21,2022-04-21,0,4,mx,Unattributed,3,100182728000003,0.0,0.00,未付费
3,2022-04-21,2022-04-21,0,6,in,Unattributed,3,100202390000003,0.0,0.00,未付费
4,2022-04-21,2022-04-21,0,4,pk,Organic,3,100441919000003,0.0,0.00,未付费
...,...,...,...,...,...,...,...,...,...,...,...
281892,2022-05-14,2022-04-21,23,11,gb,Organic,3,92360298000003,0.0,0.99,"(0,1]"
281893,2022-05-14,2022-04-21,23,14,in,Unattributed,3,92558383000003,0.0,1.98,"(1,10]"
281894,2022-05-14,2022-05-01,13,7,None,None,4,93287731000004,0.0,0.00,未付费
281895,2022-05-14,2022-05-01,13,12,de,Organic,4,93388203000004,0.0,0.00,未付费
281896,2022-05-14,2022-05-01,13,8,fr,Google Ads ACI,4,95193139000004,0.0,0.00,未付费

In [115]:
data_merge = AutoEmail.data_pivot()

<ipython-input-113-4c55c3e620b2>:80: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data2 = data2.groupby(by=['f_serveridofevent', 'country'])['price', 'pay_user'].sum().reset_index()

In [61]:
df['pay_user'] = df['price'].apply(lambda x: 1 if x>0 else 0)

In [68]:
df = df.groupby(by=['f_serveridofevent', 'country'])['price', 'pay_user'].sum().reset_index()

<ipython-input-68-cc6d9208d37c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df = df.groupby(by=['f_serveridofevent', 'country'])['price', 'pay_user'].sum().reset_index()

In [104]:
df1 = AutoEmail.data_pivot()

In [107]:
df3 = df1.merge(df, on=['f_serveridofevent', 'country'], how='left')

In [112]:
data_res

,f_serveridofevent,country,price,pay_user,day0,day1,day2,day3,day4,day5,day6,day13,user_percent
0,3,ad,0.00,0,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000034
1,3,ae,0.00,0,421.0,0.142518,0.085714,0.078759,0.047962,0.045564,0.033573,0.016260,0.007100
2,3,af,0.00,0,97.0,0.145833,0.083333,0.125000,0.042553,0.053191,0.043478,0.000000,0.001636
3,3,ag,0.00,0,3.0,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000051
4,3,ai,0.00,0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,4,vn,1.98,1,7.0,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000080
394,4,ye,0.00,0,23.0,0.350000,0.300000,0.157895,0.166667,0.111111,0.133333,0.333333,0.000263
395,4,za,54.65,27,1337.0,0.246522,0.128594,0.102881,0.077366,0.074539,0.069172,0.054545,0.015313
396,4,zm,0.00,0,12.0,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000137
397,4,zw,0.00,0,10.0,0.222222,0.111111,0.125000,0.000000,0.125000,0.125000,0.000000,0.000115

In [21]:
data.to_excel('test.xlsx', index=False, engine='openpyxl')

In [64]:
data_test.to_excel('test2.xlsx', index=False, engine='openpyxl')

In [108]:
df3.to_excel('test3.xlsx', index=False, engine='openpyxl')

In [117]:
data_merge.to_excel('merge.xlsx', index=False, engine='openpyxl')