1. 连接数据库
2. 读取sql文件夹
3. 运行sql
4. 存储结果
5. 连接邮箱
6. 发送邮件

In [9]:
import os
import pandas as pd
import numpy as np
import pymysql

In [387]:
class AutoEmail:
    def __init__(self, path, host, user, password, database, port):
        self.path = path
        self.host = host
        self.user = user
        self.password = password
        self.database = database
        self.port=port
        
    def get_cursor(self):
        connection = pymysql.connect(host=self.host, 
                                     user=self.user, 
                                     password=self.password,
                                     database=self.database, 
                                     port=self.port
                                    )
        
        cursor = connection.cursor()
        
        return connection
    
    
    def get_path(self):
        pwd_path = os.getcwd()
        pwd_path = os.path.join(pwd_path, "sqls")
        
        sqls_path = []
        for root, dirs, files in os.walk(pwd_path):
                files = files

        for files in files:
            sql_path = os.path.join(pwd_path, files)
            sqls_path.append(sql_path)
            
#         print(sqls_path)
        return sqls_path                
        
    def get_data(self):
        sqls_path = self.get_path()
        connection = self.get_cursor()
        for sql in sqls_path:
            with open(sql, "r", encoding='UTF-8')as f:
                res = f.read()
#                 print(res)
                    
        data = pd.read_sql(res, connection)
        return data
    
    def data_pivot(self):
        data = self.get_data()
        data_pivot = data.pivot_table(data, index=['f_serveridofevent', 'country', 'first_date'], 
                              columns=['retention_day'],aggfunc={'uid':len})
        data_pivot = data_pivot.droplevel(axis=1, level=0).reset_index()
        
        data_pivot = data_pivot.iloc[:,[0, 1, 2, 3, 4, 5, 6, 7, 8, 9,16]]
        
        for index in [1, 2, 3, 4, 5, 6,13]:
            data_pivot["retention_date{}".format(index)] = data_pivot['first_date']+pd.Timedelta(days=index)
            data_pivot["data{}".format(index)] = [0 if i < pd.Timestamp('2022-05-15') else np.nan for i in data_pivot["retention_date{}".format(index)]]
            data_pivot[index].fillna(value=data_pivot["data{}".format(index)], inplace=True)
            
        data1 = data_pivot.iloc[:,[0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10]]
        
        return data1

In [388]:
AutoEmail=AutoEmail(path='E:\Github\study_pandas', host='47.243.228.210', 
                    user='dingyanlin', password='dingdingding123', database='fact_20000073_11', port=9030)

In [366]:
AutoEmail.get_path()

['E:\\Github\\study_pandas\\sqls\\1.sql']

In [367]:
data = AutoEmail.get_data()

In [389]:
data = AutoEmail.data_pivot()

In [390]:
data

retention_day,f_serveridofevent,country,first_date,0,1,2,3,4,5,6,13
0,3,ad,2022-04-22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,ad,2022-04-23,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,ae,2022-04-20,54.0,9.0,5.0,3.0,2.0,1.0,1.0,0.0
3,3,ae,2022-04-21,73.0,9.0,6.0,8.0,4.0,4.0,2.0,1.0
4,3,ae,2022-04-22,59.0,10.0,6.0,4.0,6.0,4.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
3676,4,zw,2022-05-03,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3677,4,zw,2022-05-05,1.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN
3678,4,zw,2022-05-07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3679,4,zw,2022-05-08,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3680,4,zw,2022-05-12,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [400]:
for index in [1, 2, 3, 4, 5, 6,13]:
    data["0_{}".format(index)]=[0 if pd.isna(i) else np.nan for i in data[index]]
    data["0_{}".format(index)].fillna(data[0], inplace=True)

In [401]:
data

retention_day,f_serveridofevent,country,first_date,0,1,2,3,4,5,6,13,0_1,0_2,0_3,0_4,0_5,0_6,0_13
0,3,ad,2022-04-22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,3,ad,2022-04-23,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3,ae,2022-04-20,54.0,9.0,5.0,3.0,2.0,1.0,1.0,0.0,54.0,54.0,54.0,54.0,54.0,54.0,54.0
3,3,ae,2022-04-21,73.0,9.0,6.0,8.0,4.0,4.0,2.0,1.0,73.0,73.0,73.0,73.0,73.0,73.0,73.0
4,3,ae,2022-04-22,59.0,10.0,6.0,4.0,6.0,4.0,3.0,2.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3676,4,zw,2022-05-03,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,0.0
3677,4,zw,2022-05-05,1.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3678,4,zw,2022-05-07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3679,4,zw,2022-05-08,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3680,4,zw,2022-05-12,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [411]:
data.groupby(by=['f_serveridofevent', 'country']).sum().reset_index()

retention_day,f_serveridofevent,country,0,1,2,3,4,5,6,13,0_1,0_2,0_3,0_4,0_5,0_6,0_13
0,3,ad,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,3,ae,421.0,60.0,36.0,33.0,20.0,19.0,14.0,6.0,421.0,420.0,419.0,417.0,417.0,417.0,369.0
2,3,af,97.0,14.0,8.0,12.0,4.0,5.0,4.0,0.0,96.0,96.0,96.0,94.0,94.0,92.0,83.0
3,3,ag,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,3,ai,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,4,vn,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0,6.0,6.0,6.0,1.0
392,4,ye,20.0,7.0,6.0,3.0,3.0,1.0,2.0,1.0,20.0,20.0,19.0,18.0,16.0,15.0,3.0
393,4,za,1294.0,311.0,159.0,125.0,92.0,88.0,73.0,5.0,1252.0,1228.0,1215.0,1194.0,1171.0,1130.0,85.0
394,4,zm,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,9.0,8.0,8.0,8.0,7.0,2.0
395,4,zw,9.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,9.0,9.0,8.0,8.0,8.0,8.0,1.0

In [412]:
for index in [1, 2, 3, 4, 5, 6,13]:
    data["day{}".format(index)] = data[index]/data["0_{}".format(index)]

In [413]:
data

retention_day,f_serveridofevent,country,first_date,0,1,2,3,4,5,6,...,0_5,0_6,0_13,day1,day2,day3,day4,day5,day6,day13
0,3,ad,2022-04-22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,3,ad,2022-04-23,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,ae,2022-04-20,54.0,9.0,5.0,3.0,2.0,1.0,1.0,...,54.0,54.0,54.0,0.166667,0.092593,0.055556,0.037037,0.018519,0.018519,0.000000
3,3,ae,2022-04-21,73.0,9.0,6.0,8.0,4.0,4.0,2.0,...,73.0,73.0,73.0,0.123288,0.082192,0.109589,0.054795,0.054795,0.027397,0.013699
4,3,ae,2022-04-22,59.0,10.0,6.0,4.0,6.0,4.0,3.0,...,59.0,59.0,59.0,0.169492,0.101695,0.067797,0.101695,0.067797,0.050847,0.033898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3676,4,zw,2022-05-03,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3677,4,zw,2022-05-05,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,0.0,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,NaN
3678,4,zw,2022-05-07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3679,4,zw,2022-05-08,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3680,4,zw,2022-05-12,1.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN