In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1, 2], [4, 5] ,[7, 8]], 
                 index=['cobra', 'viper', 'sidewinder'] ,
                 columns=['max_speed', 'shield'])

In [6]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [11]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [13]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [15]:
df.loc[[False, True, False]]

       max_speed  shield
viper          4       5

In [17]:
df.loc[pd.Series([False, True, False], 
                index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [19]:
pd.Series([False, True, False], 
        index=['viper', 'sidewinder', 'cobra'])

viper         False
sidewinder     True
cobra         False
dtype: bool

In [21]:
df.loc[pd.Index(['cobra', 'viper'], name='foo')]

       max_speed  shield
foo
cobra          1       2
viper          4       5

In [23]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7