In [1]:
import pandas as pd
import numpy as np

In [2]:
from collections import namedtuple

In [4]:
Point = namedtuple("Point", "x y")

In [13]:
pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3), Point(3, 4)])

   x  y
0  0  0
1  0  3
2  2  3
3  3  4

In [12]:
[Point(0, 1)]

[Point(x=0, y=1)]

In [14]:
point3d = namedtuple("point3d", "x y z")

In [20]:
pd.DataFrame([point3d(0, 0, 0), point3d(0, 3, 5), point3d(2, 1, np.nan)])

   x  y    z
0  0  0  0.0
1  0  3  5.0
2  2  1  NaN

In [21]:
from dataclasses import make_dataclass

In [22]:
point = make_dataclass("point", [("x", int), ("y", int)])

In [23]:
pd.DataFrame([point(0, 0), point(0, 3), point(2, 3)])

   x  y
0  0  0
1  0  3
2  2  3