In [1]:
import numpy as np
import pandas as pd

In [2]:
tuples = list(
        zip(
            *[
                ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"], 
                ["one", "two", "one", "two", "one", "two", "one", "two"], 
            ]))

index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

In [4]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [7]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df

                     A         B
first second
bar   one    -0.423180  0.128522
      two     0.476546  0.987772
baz   one    -0.233538 -1.613717
      two    -0.818391 -0.766759
foo   one     0.494105 -0.216617
      two     0.676298 -2.412386
qux   one    -2.563963  0.548738
      two     0.449537 -2.176408

In [9]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.423180  0.128522
      two     0.476546  0.987772
baz   one    -0.233538 -1.613717
      two    -0.818391 -0.766759

In [11]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.423180
               B    0.128522
       two     A    0.476546
               B    0.987772
baz    one     A   -0.233538
               B   -1.613717
       two     A   -0.818391
               B   -0.766759
dtype: float64

In [18]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.423180 -0.233538
       B  0.128522 -1.613717
two    A  0.476546 -0.818391
       B  0.987772 -0.766759

In [19]:
df = pd.DataFrame(
    {
        "A":["one", "one", "two", "three"] * 3, 
        "B":["A", "B", "C"] * 4, 
        "C":["foo", "foo", "foo", "bar", "bar", "bar"] * 2, 
        "D":np.random.randn(12), 
        "E":np.random.randn(12),
    })

df

        A  B    C         D         E
0     one  A  foo -0.345533  0.882960
1     one  B  foo  0.610805 -0.158270
2     two  C  foo  0.834988  1.679720
3   three  A  bar  0.783287 -0.637413
4     one  B  bar  1.612932 -0.889584
5     one  C  bar  1.187076  0.863334
6     two  A  foo  1.937373 -0.432360
7   three  B  foo -0.045829  0.868280
8     one  C  foo -1.937570 -1.240921
9     one  A  bar -0.632178 -1.151710
10    two  B  bar  0.544892  0.440678
11  three  C  bar  1.368225  0.707411

In [22]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

C             bar       foo
A     B
one   A -0.632178 -0.345533
      B  1.612932  0.610805
      C  1.187076 -1.937570
three A  0.783287       NaN
      B       NaN -0.045829
      C  1.368225       NaN
two   A       NaN  1.937373
      B  0.544892       NaN
      C       NaN  0.834988

In [30]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49',
               '2012-01-01 00:00:50', '2012-01-01 00:00:51',
               '2012-01-01 00:00:52', '2012-01-01 00:00:53',
               '2012-01-01 00:00:54', '2012-01-01 00:00:55',
               '2012-01-01 00:00:56', '2012-01-01 00:00:57',
               '2012-01-01 00:00:58', '2012-01-01 00:00:59',
               '2012-01-01 00:01:00', '2012-01-01 00:01:01',
               '2012-01-01 00:01:02', '2012-01-01 00:01:03',
               '2012-01-01 00:01:04', '2012-01-01 00:01:05',
               '2012-01-01 00:01:06', '2012-01-01 00:01:07',
               '2012-01-01 00:01:08', '2012-01-01 00:01:09',
               '2012-01-01 00:01:10', '2012-01-01 00:01:11',
               '2012-01-01 00:01:12', '2012-01-01 00:01:13',
               '2012-01-01 00:01:14', '2012-01-01 00:01:15',
               '2012-01-01 00:01:16', '2012-01-01 00:01:17',
               '2012-01-01 00:01:18', '2012-01-01 00:01:19',
               '2012-01-01 00:01:20', '2012-01-01 00:01:21',
               '2012-01-01 00:01:22', '2012-01-01 00:01:23',
               '2012-01-01 00:01:24', '2012-01-01 00:01:25',
               '2012-01-01 00:01:26', '2012-01-01 00:01:27',
               '2012-01-01 00:01:28', '2012-01-01 00:01:29',
               '2012-01-01 00:01:30', '2012-01-01 00:01:31',
               '2012-01-01 00:01:32', '2012-01-01 00:01:33',
               '2012-01-01 00:01:34', '2012-01-01 00:01:35',
               '2012-01-01 00:01:36', '2012-01-01 00:01:37',
               '2012-01-01 00:01:38', '2012-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [31]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    300
2012-01-01 00:00:01    207
2012-01-01 00:00:02    323
2012-01-01 00:00:03    260
2012-01-01 00:00:04    406
                      ...
2012-01-01 00:01:35    174
2012-01-01 00:01:36    335
2012-01-01 00:01:37    445
2012-01-01 00:01:38    173
2012-01-01 00:01:39    234
Freq: S, Length: 100, dtype: int32